In [30]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [31]:
data =pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [32]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [33]:
#Encode the categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [34]:
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [35]:
#One hot encode Geography
onehot_encoder=OneHotEncoder()
geo_encoder=onehot_encoder.fit_transform(data[['Geography']]).toarray()
geo_encoder_df=pd.DataFrame(geo_encoder,columns=onehot_encoder.get_feature_names_out(['Geography']))
geo_encoder_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [36]:
#Concatenate the dataframes
data=pd.concat([data,geo_encoder_df],axis=1)
data.head()

   CreditScore Geography  ...  Geography_Germany  Geography_Spain
0          619    France  ...                0.0              0.0
1          608     Spain  ...                0.0              1.0
2          502    France  ...                0.0              0.0
3          699    France  ...                0.0              0.0
4          850     Spain  ...                0.0              1.0

[5 rows x 14 columns]

In [37]:
data=data.drop(['Geography'],axis=1)

In [38]:
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [39]:
#Split the data into train and test
X=data.drop(['EstimatedSalary'],axis=1)
y=data['EstimatedSalary']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [40]:
#Scale the data
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)

In [41]:
#Save all pickles
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

## ANN Regression Problem Statement

In [42]:
import tensorflow as tf 
import tensorflow.keras.models
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense, Input

In [43]:
model = Sequential([
    Input(shape=(X_train.shape[1],)),  # Define the input layer with the shape
    Dense(64, activation='relu'),      # Hidden Layer 1
    Dense(32, activation='relu'),      # Hidden Layer 2
    Dense(1)     # Output Layer for regression
])

In [44]:
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [45]:
## Set up the TensorBoard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime
log_dir="regression_logs/fit/"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [46]:
#Set up Early Stopping 
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [47]:
history=model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[early_stopping_callback,tensorflow_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - loss: 99358.0312 - mae: 99358.0312 - val_loss: 98498.0312 - val_mae: 98498.0312
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100160.7422 - mae: 100160.7422 - val_loss: 96792.7109 - val_mae: 96792.7109
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 97717.1484 - mae: 97717.1484 - val_loss: 92433.5312 - val_mae: 92433.5312
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 93078.0391 - mae: 93078.0391 - val_loss: 85256.2734 - val_mae: 85256.2734
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 85225.7031 - mae: 85225.7031 - val_loss: 76220.4844 - val_mae: 76220.4844
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 75330.6641 - mae: 75330.6641 - val_loss: 67208.2812 - val_mae: 67208.2812
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 66530.1250 - mae: 66530.1250 - val_loss: 59715.0469 - val_mae: 59715.0469
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59239.8516 - mae: 59239.8516 - val_loss: 54781.1367 - val_mae: 54781.1367
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 54041.3008 - mae: 54041.3008 - val_loss: 52137.7148 - val_mae: 52137.7148
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 52097.5977 - mae: 52097.5977 - val_loss: 51094.5469 - val_mae: 51094.5469
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50860.8477 - mae: 50860.8477 - val_loss: 50693.6445 - val_mae: 50693.6445
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50266.7539 - mae: 50266.7539 - val_loss: 50564.8789 - val_mae: 50564.8789
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50457.9492 - mae: 50457.9492 - val_loss: 50500.1641 - val_mae: 50500.1641
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50185.7266 - mae: 50185.7266 - val_loss: 50444.6250 - val_mae: 50444.6250
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49940.1055 - mae: 49940.1055 - val_loss: 50418.6719 - val_mae: 50418.6719
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49695.5938 - mae: 49695.5938 - val_loss: 50382.7148 - val_mae: 50382.7148
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50552.6562 - mae: 50552.6562 - val_loss: 50352.0469 - val_mae: 50352.0469
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49943.5938 - mae: 49943.5938 - val_loss: 50328.6484 - val_mae: 50328.6484
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50500.7383 - mae: 50500.7383 - val_loss: 50312.5938 - val_mae: 50312.5938
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50187.1758 - mae: 50187.1758 - val_loss: 50287.2070 - val_mae: 50287.2070
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49783.7891 - mae: 49783.7891 - val_loss: 50269.3555 - val_mae: 50269.3555
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49249.7344 - mae: 49249.7344 - val_loss: 50257.1211 - val_mae: 50257.1211
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49452.3711 - mae: 49452.3711 - val_loss: 50252.3633 - val_mae: 50252.3633
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50248.5078 - mae: 50248.5078 - val_loss: 50252.4297 - val_mae: 50252.4297
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49649.1367 - mae: 49649.1367 - val_loss: 50232.9922 - val_mae: 50232.9922
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49742.8906 - mae: 49742.8906 - val_loss: 50239.6250 - val_mae: 50239.6250
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50033.6680 - mae: 50033.6680 - val_loss: 50236.8867 - val_mae: 50236.8867
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49443.9336 - mae: 49443.9336 - val_loss: 50227.0977 - val_mae: 50227.0977
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49354.6992 - mae: 49354.6992 - val_loss: 50227.6875 - val_mae: 50227.6875
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49702.5859 - mae: 49702.5859 - val_loss: 50226.8672 - val_mae: 50226.8672
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49809.7695 - mae: 49809.7695 - val_loss: 50216.7461 - val_mae: 50216.7461
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49191.2031 - mae: 49191.2031 - val_loss: 50219.3906 - val_mae: 50219.3906
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49442.1836 - mae: 49442.1836 - val_loss: 50219.9727 - val_mae: 50219.9727
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50081.5742 - mae: 50081.5742 - val_loss: 50218.2461 - val_mae: 50218.2461
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49657.3477 - mae: 49657.3477 - val_loss: 50214.7773 - val_mae: 50214.7773
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49860.1875 - mae: 49860.1875 - val_loss: 50211.4219 - val_mae: 50211.4219
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49586.5898 - mae: 49586.5898 - val_loss: 50214.5469 - val_mae: 50214.5469
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49935.2305 - mae: 49935.2305 - val_loss: 50214.5078 - val_mae: 50214.5078
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49159.3672 - mae: 49159.3672 - val_loss: 50219.4062 - val_mae: 50219.4062
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49278.2422 - mae: 49278.2422 - val_loss: 50218.2891 - val_mae: 50218.2891
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49522.8594 - mae: 49522.8594 - val_loss: 50221.5430 - val_mae: 50221.5430
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49724.5664 - mae: 49724.5664 - val_loss: 50217.3320 - val_mae: 50217.3320
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50215.6953 - mae: 50215.6953 - val_loss: 50223.8906 - val_mae: 50223.8906
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49574.7383 - mae: 49574.7383 - val_loss: 50222.3711 - val_mae: 50222.3711
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50100.1445 - mae: 50100.1445 - val_loss: 50221.0430 - val_mae: 50221.0430
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49565.8672 - mae: 49565.8672 - val_loss: 50223.2344 - val_mae: 50223.2344

In [48]:
#Load extension TensorBoard
%load_ext tensorboard
%tensorboard --logdir regression_logs/fit

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [51]:
%reload_ext tensorboard

In [49]:
#Evaluate the model on test data
test_loss,test_mae=model.evaluate(X_test,y_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51020.5273 - mae: 51020.5273

In [50]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.